<%- include("partials/teheader.ejs") %>
</head>

<body>
<%- include("partials/tenav.ejs") %>
<div class="container" style="padding-top:50px">
  <div class="row">
    <%if(exams[0]){%>
    <% for(var i=0;i<=exams.length-1;i++){%>
    <div class="col-md-4">
      <h2><%=exams[i].title%></h2>
      <p>Number of questions: <%=exams[i].noquestions%></p>
      <p>Total Marks: <%=exams[i].marks%></p>
      <p><a class="btn btn-secondary" role="button" href="/te/exam/<%=exams[i]._id%>/students">View Results</a></p>
    </div>
    <%}%>
    <%}else{%>
        <div class="text-center">
          <img class="mx-auto d-block" style="margin: 0 auto" src="https://testbanktop.com/wp-content/uploads/2018/01/search_error.png" width="300" height="300" alt="">
        </div>
      <div class="col-md-12 text-center">
        <h2>No Exams Found</h2>
        <p>Create an Exam in the Home Page</p>
      </div>
      <%  }%>
  </div>
</div>











  <%- include("./partials/footer.ejs") %>
