<%- include("./partials/teheader.ejs") %>
</head>

<body>

<%- include("./partials/stnav.ejs") %>

<h3 class="text-center mt-4">Results</h3>

  <%if(exams[0]){%>
    <div class="container px-5">
      <div class="container px-5">
        <% for(var i=0;i<=exams.length-1;i++){%>
          <div class="row my-5 py-3 border">
            <div class="col-md-12">
              <h4 class=""><%=exams[i].title%></h4>
            </div>
            <div class="col-md-12">
              <h6 class="">Number of questions: <%=exams[i].noquestions%></h6>
            </div>
            <div class="col-md-12">
              Total marks: <%=exams[i].marks%>
            </div>
            <div class="col-md-12 d-flex justify-content-around">
                <a href="/st/results/<%=exams[i]._id%>" class="btn btn-outline-success">View Results</a>
            </div>
          </div>
          <hr>

      <%}%>
      </div>
    </div>
  <%}else{ %>
    <div class="text-center">
      <img class="mx-auto d-block" style="margin: 0 auto" src="https://testbanktop.com/wp-content/uploads/2018/01/search_error.png" width="300" height="300" alt="">
    </div>
    <div class="col-md-12 text-center">
      <p></p>
    </div>
    <%  }%>










  <%- include("./partials/footer.ejs") %>
