<%- include("./partials/teheader.ejs") %>
<link rel="stylesheet" href="/stylesheets/stexam.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">QUIRKY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/st/index">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/st/completed">Completed Exams</a>
        </li>

        <div class="form-inline my-2 my-lg-0">
          <script type="text/javascript">
            function goToPage() {
              var page = document.getElementById('page').value;
              window.location = "/st/add/" + page;
            }
          </script>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" id="page" name="examid" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit" onclick="goToPage();">Search</button>
        </div>
      </ul>
    </div>
  </nav>



<div class="row">
  <div class="col-md-3  container p-5">
    <div class="row boxrow">
      <%for(var i=1;i<=questions.length;i++){%>
        <div class="box">
        <%  if(i<10){%>
            0<%=i%>
          <%}else{%>
            <%=i%>
          <%}%>
        </div>
      <%}%>
    </div>
  </div>
  <div class="col-md-9">
      <div class="col-md-12 d-inline">
          <h1>  timer </h1>
                <hr>
      </div>

      <%if(questions[0]){%>
      <form class="" action="/st/submit/<%=questions[0].examid%>" method="post">
            <% for(var i=0;i<=questions.length-1;i++){%>
            <%if(i==0){%>
              <div class="containers">
            <%}else{%>
              <div class="containers" style="display:none">
            <%}%>
              <div class="col-md-12">
                <h4 class=""><%=(i+1)%>)<%=questions[i].q%></h4>
              </div>
                <%  for(var j=0;j<=questions[i].options.length-1;j++){ %>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="radio" name="q[<%=questions[i]._id%>]" value="<%=j+1%>"  id="<%=i%>,<%=j%>">
                      <label  for="<%=i%>,<%=j%>"><%=questions[i].options[j]%> </label>
                    </div>
                  </div>
                <% }%>
                <div style="display:none">
                  <input type="radio" name="q[<%=questions[i]._id%>]" value="-1"  checked>
                  <label class="btn btn-secondary">blah blah</label>
               </div>
                <div class="">
                <%if(i!=questions.length-1){%>
                    <button class="btn btn-outline-primary   <%=i%> navigation">Next</button>
                <%}%>
                </div>
              <%  if(i!=0) {%>
                  <div class="">
                    <button class="btn btn-outline-primary  <%=i%> navigation">Previous</button>
                  </div>
                <%}%>
            </div>

            <%}%>
         <div class="form-group submit" style="display:none">
             <button type="submit" class="btn btn-outline-success">Submit</button>
         </div>
          </form>
      <%}%>
  </div>
</div>



<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();
  var form = document.getElementsByTagName("form")[0];
  form.addEventListener('submit',()=>{
    console.log("clicked");
    socket.emit("sendResponses","<%=questions[0].examid%>");
  });
</script>


<script type="text/javascript">
  var questions = <%-JSON.stringify(questions)%>

  //////////////////////////////////on refresh!!!! it should come to the sam equestion! and with same options selected!

var i=0;
 var buttons = document.getElementsByClassName("navigation");
 var boxes = document.getElementsByClassName("box");
 var submit = document.querySelector(".submit");
 var container = document.getElementsByTagName("form")[0];
 var qs = container.children;
 for(var i=0;i<=buttons.length-1;i++){
   buttons[i].addEventListener("click",(e)=>{
    submit.style.display="none";
     e.preventDefault();
     var btn = e.srcElement;
     var index= Number(btn.classList.item(2));
     qs[index].style.display="none";
     if(btn.innerHTML=="Previous"){
      qs[index-1].style.display="block";
     }else{
        qs[index+1].style.display="block";
        if((index+2)==qs.length-1){
            submit.style.display="block";
        }
     }
     boxes[index].classList.add("boxred");
    console.log(index+2,qs.length-1);

   });
 }

 var inputs = document.getElementsByTagName("input");
 for(var i=0;i<=inputs.length-1;i++){
   inputs[i].addEventListener("click",(e)=>{
     var input = e.srcElement;
     localStorage.setItem(input.getAttribute("name"), input.getAttribute("value"));
     var index = input.id.split(",")[0];
     boxes[index].classList.add("boxgreen");
   });
 }
 window.onload=()=>{
   i++;
   for(var j=0;j<=questions.length-1;j++){
     if(localStorage.getItem("q["+questions[j]._id+"]")){
       var value = localStorage.getItem("q["+questions[j]._id+"]");
         var input = document.querySelectorAll("input[name=\"q["+questions[j]._id+"]\"]");
          for(var i=0;i<=input.length-1;i++){
            var val = input[i].getAttribute("value");
            if(val==value) {
              input[i].checked=true;
              var index = input[i].id.split(",")[0];
              boxes[index].classList.add("boxgreen");
            }
          }
     }else{
       if(i!=1) boxes[j].classList.add("boxred");
     }
   }

   };
 submit.addEventListener("click",()=>{
   localStorage.clear();
 });

for(var i=0;i<=boxes.length-1;i++){
  boxes[i].addEventListener("click",(e)=>{
    for(var j=0;j<=qs.length-1;j++){
      qs[j].style.display="none";
    }
    var index = Number(e.srcElement.innerHTML);
    qs[index-1].style.display="block";
    if(index==qs.length-1) submit.style.display="block";
  });
}
</script>



        <%- include("./partials/tefooter.ejs") %>
