<%- include("./partials/teheader.ejs") %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">QUIRKY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/st/index">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/st/completed">Completed Exams</a>
        </li>

        <div class="form-inline my-2 my-lg-0">
          <script type="text/javascript">
            function goToPage() {
              var page = document.getElementById('page').value;
              window.location = "/st/exam/" + page;
            }
          </script>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" id="page" name="examid" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="submit" onclick="goToPage();">Search</button>
        </div>
      </ul>
    </div>
  </nav>



  <h1 class="">Hello <%=req.name%>.</h1>

  <center>
    <h4>Active Exams</h4>
    </center>

  <%if(exams[0]){%>
    <div class="container px-5">
      <div class="container px-5">
        <% for(var i=0;i<=exams.length-1;i++){%>
        <% if(exams[i].status=="started"){ %>
          <%console.log("started");%>
          <div class="row my-5 py-3 border">
            <div class="col-md-12">
              <h4 class="">Title: <%=exams[i].title%></h4>
            </div>
            <div class="col-md-12">
              <h6 class="">  Number of questions: <%=exams[i].noquestions%></h6>
            </div>
            <div class="col-md-12">
              Total marks: <%=exams[i].marks%>
            </div>
            <div class="col-md-12 d-flex justify-content-around">
                <a href="/te/exam/<%=exams[i]._id%>/students" class="btn btn-outline-primary">Start Exam</a>
            </div>
          </div>
        <%}%>
      <%}%>
      </div>
    </div>
  <%}%>
<hr>
<center>
  <h4>Upcoming Exams</h4>
  </center>
<%if(exams[0]){%>
  <div class="container px-5">
    <div class="container px-5">
      <% for(var i=0;i<=exams.length-1;i++){%>
      <% if(exams[i].status=="ready"){ %>
        <%console.log("started");%>
        <div class="row my-5 py-3 border">
          <div class="col-md-12">
            <h4 class="">Title: <%=exams[i].title%></h4>
          </div>
          <div class="col-md-12">
            <h6 class="">  Number of questions: <%=exams[i].noquestions%></h6>
          </div>
          <div class="col-md-12">
            Total marks: <%=exams[i].marks%>
          </div>
          <div class="col-md-12 d-flex justify-content-around">
              <a href="/te/exam/<%=exams[i]._id%>/students" class="btn btn-outline-primary">Upcoming</a>
          </div>
        </div>
      <%}%>
    <%}%>
    </div>
  </div>
<%}%>








  <%- include("./partials/tefooter.ejs") %>
