<%- include("./partials/stheader.ejs") %>
</head>
<body>
  <%- include("./partials/stnav.ejs") %>
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h3 class="display-3">Hello, <%=req.name%>!</h3>
        <p>Hope you do well today :)</p>
      </div>
    </div>
    <div class="container">
      <%if(exams[0]){%>
        <h4 class="text-center">Active Exams</h4>
      <div class="row">
            <% for(var i=0;i<=exams.length-1;i++){%>
            <% if(exams[i].status=="started" || exams[i].status=="ready"){ %>
        <div class="col-md-4">
          <h3><%=exams[i].title%></h3>
          <p> Number of questions: <%=exams[i].noquestions%></p>
          <p>Total marks: <%=exams[i].marks%></p>
          <%if(exams[i].status=="started"){%>
            <a href="/st/exam/<%=exams[i]._id%>" name="<%=exams[i]._id%>" id="start" class="btn btn-outline-primary">Start Exam</a>
        <%  }else{%>
              <a href="" class="btn btn-outline-primary">Scheduled</a>
          <%}%>
        </div> 
        <%}%>
      <%}%>
      </div>
      <%}else{%>
        <div class="container px-5">
          <center>
            <h5 class="m-5">No Active Exams</h5>
            <a href="/st/completed" class="btn btn-warning">Recent Exams</a>
            </center>
          </div>
    <%  }%>
      <hr>
    </div>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io();
    var btn = document.getElementById("start");
    btn.addEventListener('click',(e)=>{
      console.log("start btn clicked");
      var info = {userid:"<%=req.username%>",examid:btn.name};
      socket.emit("viewed",info);
    });
  </script>
  <%- include("./partials/footer.ejs") %>
